@import "tailwindcss";

.container{
  @apply w-screen h-screen flex flex-col gap-y-4 overflow-hidden;
}

table{
  font-family: arial, sans_serif;
  border-collapse: collapse;
  width: 100%;
}

td, th{
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

.no-copy {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}